<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hygull</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/css/home.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black;padding:0px;margin: 0px">

<div class="container-fluid" id="root" style="margin:0px;padding:0px">
    <div class="row">
        <div class="col-md-2" id="r1c1">
              <div class="list-group">
                <a href="http://www.tutorialspoint.com/flask/" target="_blank" class="list-group-item">Flask on tutorialspoint</a>
                <a href="https://pythonspot.com/en/flask-web-app-with-python/" target="_blank" class="list-group-item">Flask beginners Tutorial</a>
                <a href="https://www.fullstackpython.com/flask.html" target="_blank" class="list-group-item">Full Stack Python</a>
                 <a href="https://pythonspot.com/en/matplotlib/" target="_blank" class="list-group-item">Matplotlib</a>
              </div>
        </div>
        <div class="col-md-8 text-center" id="r1c2">
               <h1> Slack</h1>
        </div>
        <div class="col-sm-2 text-center" id="r1c3">
               <p>Golang</p>
        </div>

    </div>
</div>

</body>
</html>

